// Global component styles

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

a {
    &:focus {
        outline: none;
    }
}

#wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	#content-wrapper {
		background-color: #fafdfb;
		width: 100%;
		overflow-x: hidden;
		#content {
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
		}
	}
}

.dropdown {
	.dropdown-menu {
		font-size: .85rem;
		-webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
		box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
		.dropdown-header {
			font-weight: 800;
			font-size: .65rem;
			color: #b7b9cc;
		}
	}
}
.dropdown.no-arrow {
	.dropdown-toggle {
		&::after {
			display: none;
		}
	}
}
