@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-Regular.ttf);
    src: url(../font/Nunito-Regular.ttf) format('ttf'), url(../font/Nunito-Regular.ttf) format('truetype');
}

@import "variables.scss";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "global.scss";
@import "sidebar.scss";
@import "sidebar-light.scss";
@import "navbar.scss";

@import "card.scss";

@import "media";
